
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
	background-color: #eeeeee;
	background-image: url(../images/halftone.png);
	font-family: Courier, sans-serif;
}


h1, h2, h3 {
	font-family: Courier, sans-serif;
	font-size: 1.25em;
	font-weight: bold;
	text-align: left;
}


strong {
	font-family: Courier, sans-serif;
	font-weight: bold;
}

em {
	font-family: Courier, sans-serif;
}

p{
	font-family: Courier, sans-serif;
	text-align: left;
}
.content {
	max-width: 760px;
	margin: 1% 0 0 10%;
}

header {
	position: relative;
	border-top: solid 3px white;
	border-bottom: solid 3px white;
	padding: 10px 0 10px 0;
	margin-bottom: 20px;
	margin-left: 0;
}
header h1 {
	margin-left: 10%;
}
header:hover{
	background-color: #F6F6F6;
	margin-left: 0;
}
header:hover h1{
	margin-left:10%;
}

.main {
	xxposition: relative;
	padding-bottom: 1em;
	border-bottom: solid 1px rgba(255,255,255,.5);
	xxoverflow:hidden;
	xxmin-height: 300px;
}

.main h1 {
	font-size: 32px;
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
	border-bottom: solid 1px rgba(255,255,255,.5);
	margin-bottom: 0.75em;
}


p , li, legend , form{
	font-size: 12px;
	color: black;
	line-height: 125%;
	margin-bottom: 10px;
}


a {
	color: rgba(210,160,210,.75);
}
h1 {
	color: rgb(50,50,50);
	margin-bottom: 5px;
	font-size: 22px;
	text-shadow: 2px 2px 2px rgba(0,0,0,.75);
}
h2 {
	color: rgb(143,180,255);
	margin-bottom: 5px;
	font-size: 20px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
}
h3 {
	font-size: 18px;
	color: rgb(227,198,133);;
}


input:not(#submit_button):not(#photo) {
	font-size: 10px;
	padding: 7px 15px 0 0;
	height: 12px;
}
input#submit_button{
	padding: 2px 2px 2px 2px;
}
input#photo, label[for=photo]{
	padding: 0 0 0 0;
	font-size: 10px;
	height: 26px;
	font-family: Courier, sans-serif;
}


.found {
	color: rgba(255,0,0,1);
}
form .wide {
	font-size: 15px;
	width: 100%;
}
.resultSection {
	float: right;
	width: 45%;
	margin-left: 20px;
}

.clickable {
	cursor:pointer;
	margin-bottom: 5px;
}

.clickable:hover {
	opacity: 0.8;
}



/*

form#order div, form#signup div{
	padding-bottom: 10px;
}
*/
form#order .label, form#signup .label {
	display: block;
	height: 12px;
	clear: left;
	float: left;
	width: 225px;
	text-align: right;
	padding: 7px 15px 0 0;
	text-transform: uppercase;
	font-weight: normal;
	font-family: Courier, sans-serif;
	font-size: 10px;
}

form#signup .label {
	width: 200px;
}

.labelBlock {
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	padding-bottom: 0 !important;
	clear: both;
	margin-top: 10px;
}

form#order select, form#signup select {
	display: inline-block;
	margin-top: 8px;
}

form#order input[type="radio"], form#signup input[type="radio"], form#signup input[type="checkbox"] {
   display: inline-block;
   margin-top: 10px;
}

form .indent, #submit_button {
	margin-left: 25%;
}



#signup .indent label.error {
  margin-left: 0;
}
#signup label.error {
  font-size: 0.8em;
  color: #F00;
  font-weight: bold;
  display: fixed;
  margin-left: 15px;
}
#signup  input.error, #signup select.error  {
  background: #FFA9B8;
  border: 1px solid red;
  border-radius: 4px;
}

